{% load staticfiles %}
{% static "" as baseUrl %}
<html lang="en" >

<head>
    <style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    width:100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
   <script>
        var x;
            function save()
            {
            var email=document.getElementById("email").value;
            var pwd=document.getElementById("pwd").value;
            var name=document.getElementById("name").value;
            var g=document.getElementById("g1");
            var gender="Female";
            if(g.checked)
                gender="Male";
            x=new XMLHttpRequest()
            x.open("GET","SignUp?email="+email+"&pwd="+pwd+"&name="+name+"&gender="+gender);
            x.onreadystatechange=abc;
            x.send(null);
            }
            function abc()
            {
            if(x.readyState==4)
            {
            alert(x.responseText);
            }
            }

    </script>
  <meta charset="UTF-8">
  <title>Responsive Login Form</title>
  
  
  <link rel='stylesheet prefetch' href='{{baseUrl}}http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

      <link rel="stylesheet" href="{{baseUrl}}css/style.css">

  
</head>

<body>

  <link href='{{baseUrl}}https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <form action="Login">
   <input type="text" name="email" placeholder="Enter email"><br>
    <input type="password" name="pwd"  placeholder="Enter pass"><br>
    <input type="submit" value="Login" class="button">


  </form>
</div>
  <link href='{{baseUrl}}https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

  <div class="login">
  <div class="login-header">
    <h1>SignUp</h1>
  </div>
  <form action="SignUp">
   <input type="text" name="email" id="email" placeholder="Enter email"><br>
    <input type="password" name="pwd" id="pwd" placeholder="Enter pass"><br>
    <input type="text" name="name"  id="name" placeholder="Enter Name"><br>
    <input type="radio" name="gender" id="g1" value="Male">Male
    <input type="radio" name="gender" id="g2" value="Female">Female<br>
    <input type="button" class="button" value="SignUp" onclick="save()">
  </form>
</div>

  <script src='{{baseUrl}}http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='{{baseUrl}}http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

  

    <script  src="{{baseUrl}}js/index.js"></script>




</body>

</html>
